<!DOCTYPE html>
<html>
  <head>
    <%= yield :content_for_head %>
    <%= stylesheet_link_tag "/chameleon/dist/css/chameleon.css" %>
    <%= stylesheet_link_tag "application" %>
  </head>
  <body>

    <%= yield %>

    <%= javascript_include_tag "/chameleon/dist/js/chameleon.js" %>
    <%= javascript_include_tag "application" %>
  </body>
</html>
